@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1C2430;
    font-family: "Inter", sans-serif;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.green {
    color: #14B078;
}

button {
    font-family: "Inter", sans-serif;
}

h1 {
    margin: 0;
}

.generate-btn {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    background: #14B078;
    padding: 12px 24px;
    width: 200px;
}

.separator {
    background-color: #232F40;
    width: 500px;
    height: 1px;
}

.password-btn {
    cursor: pointer;
    color: #14B078;
    border: none;
    border-radius: 4px;
    background-color: #232F40;
    width: 250px;
    height: 36px;
}